<h1>Order Confirmation</h1>

<table class="table table-hover">
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <% @orders.carted_products.each do |carted_products| %>
  <tr>
    <td><%= carted_products.product.name %></td>
    <td><%= carted_products.quantity %></td>
    <td><%= number_to_currency carted_products.product.price %></td>
  </tr>
  <% end %>
</table>

<table class="table table-hover">
  <tr>
    <th>Subtotal</th>
    <th>Tax</th>
    <th>Total</th>
  </tr>
  <tr>
    <td><%= number_to_currency @orders.subtotal %></td>
    <td><%= number_to_currency @orders.tax %></td>
    <td><%= number_to_currency @orders.total %></td>
  </tr>
</table>
