<h1>Checkout</h1>

<table class="table table-hover">
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th>Tax</th>
    <th>Total</th>
    <th colspan="2">Action</th>
  </tr>
  <% @carted_products.each do |item| %>
  <tr>
    <td><%= item.product.name %></td>
    <td>
      <%= text_field_tag :quantity,item.quantity, :class => "form-control"  %>
    </td>
    <td><%= number_to_currency ( item.order.subtotal / item.quantity ) %></td>
    <td><%= number_to_currency item.order.subtotal %></td>
    <td><%= number_to_currency item.order.tax %></td>
    <td><%= number_to_currency item.order.total %></td>
    <td>
      <%= link_to "/carted_products/#{item.id}", data: {confirm: "Do you want to delete #{item.product.name} from your cart?"}, class: 'btn btn-danger', 'aria-label' => 'Delete', method: :delete do %>
      <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </td>
    <td>
      <%= link_to "/carted_products/#{item.order.id}?quantity=1", class: 'btn btn-success', 'aria-label' => 'Refresh', method: :path do %>
      <span class="glyphicon glyphicon-refresh"></span>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= form_tag "/orders/#{@order.id}", :class => 'form-inline', method: :patch do %>
  <%= submit_tag 'Buy Now', class: 'btn btn-warning' %>
<% end %>
