<h1>Welcome to Anazon</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/products/<%= product.id %>">
          <p><%= product.name %> - <%= number_to_currency(product.price) %></p>
          <img src="<%= product.image %>" alt="<%= product.name %>" class = 'img-responsive' width="200" column="200" />
        </a>
      </div>
    </div>
  <% end %>
</div>
