<h1><%= @product.name %></h1>

<a href="/products/<%= @product.id %>/edit" class="btn btn-default">Edit</a>
<%= link_to "Delete", "/products/#{@product.id}", method: :delete, class: 'btn btn-primary' %>

<%= image_tag @product.image, alt: 'Alt Image Text', class: 'img-responsive' %>

<table class="table">
  <tr>
    <th>
      Price
    </th>
    <td>
      <%= number_to_currency(@product.price) %>
    </td>
  </tr>
  <tr>
    <th>
      Decription
    </th>
    <td>
      <%= @product.description %>
    </td>
  </tr>
</table>

<%= link_to "Back", "/products", class: 'btn btn-default' %>
